DB/Oracle/ORACLE新体系/第14天/JAVAXML/new/Ch12-3-3.dtd

<?xml version="1.0" encoding="GB2312"?>
<!ELEMENT booklist (book+)>
<!ELEMENT book (code, title, catalog?, authorlist, pub_date?, price)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT catalog (#PCDATA)>
<!ELEMENT authorlist (author+)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT pub_date (#PCDATA)>

<!ATTLIST book sales (N | Y) #REQUIRED>
<!ATTLIST title	font CDATA #REQUIRED>
<!ATTLIST authorlist no CDATA #REQUIRED>

